:root {
  --bg-color: #221F1B;
  --main-purple: #54428E;
  --light-purple: #744BAA;
  --main-gray: #C8C6D7;
  --dark-gray: #655C53;
  --main-white: #EAE0CC;
}

body, html {
    background-color: var(--bg-color);
}
html {
    height: 100%;
	-webkit-font-smoothing: antialiased
}

body {
	font-size: 1.1rem;
	line-height: 1.5rem;
	margin: 0;
	color: var(--main-white);
}

h1 {
	display: inline-block;
	line-height: 1.5em;
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
}

h2 {
	display: inline-block;
	font-family: 'Trispace', monospace;
	font-size: 1.5em;
}

p {
	display: block;
	font-family: 'Trispace', monospace;
	font-size: 1.1rem;
}

a:link {
	color: var(--main-gray);
}

a:visited {
	color: var(--main-gray);
}

ul {
	font-family: 'Trispace', monospace;
	font-size: 1.2rem;
	padding-left: 1em;
}
ul ul {
	padding-left: 1.5em;
}

ul ul ul {
	padding-left: 2em;
    font-size: 1rem;
}

#content {
	max-width: 640px;
    margin: 0 auto;
    padding: .0625rem 1rem;
}

#logo {
	width: 1.5em;
  	display: inline-flex;
  	align-self: center;
  	top: .4375em;
  	right: .25em;
	position: relative;
}

.s, .vert, .top {
	stroke: var(--light-purple);
}
.box {
	stroke: var(--main-purple);
}

#seed {
	z-index: 1;
	text-align: center;
}

#canvasContainer {
	position:absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: auto;
	height: 75%;
	width: 75%;
	z-index: -1;
}

.inline-svg-icon {
	display: inline-block;
	position: relative;
	width: 1.5rem;
	height: auto;
	top: .3em;
	margin-right: .2em;
	filter: invert(87%) sepia(17%) saturate(165%) hue-rotate(207deg) brightness(90%) contrast(90%);
}

.insta-post {
	opacity : 0;
	transition:opacity .25s, visibility .25s;
	visibility: collapse;
	display: block;
	position: absolute;
	z-index: 1;
}

.insta-link:hover ~ .insta-post {
	opacity: 1;
	visibility: visible;
}

.insta-post:hover {
	opacity: 1;
	visibility: visible;
}

.switch {
	--line: var(--dark-gray);
	--dot: var(--main-white);
	--circle: var(--main-white);
	--duration: .3s;
	--text: var(--main-white);
	cursor: pointer;
}
.switch input {
	display: none;
}
.switch input + div {
	position: relative;
}
.switch input + div:before, .switch input + div:after {
	--s: 1;
	content: "";
	position: absolute;
	height: 4px;
	top: 10px;
	width: 20px;
	background: var(--line);
	transform: scaleX(var(--s));
	transition: transform var(--duration) ease;
}
.switch input + div:before {
	--s: 0;
	left: 0;
	transform-origin: 0 50%;
	border-radius: 2px 0 0 2px;
}
.switch input + div:after {
	left: 20px;
	transform-origin: 100% 50%;
	border-radius: 0 2px 2px 0;
}
.switch input + div span {
	line-height: 24px;
    color: var(--text);
    font-family: 'Trispace', monospace;
	font-size: 1rem;
}
.switch input + div span:before {
	--x: 0;
	--b: var(--circle);
	--s: 3px;
	content: "";
	position: absolute;
	left: 0;
	top: 4px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	box-shadow: inset 0 0 0 var(--s) var(--b);
	transform: translateX(var(--x));
	transition: box-shadow var(--duration) ease, transform var(--duration) ease;
}
.switch input + div span:not(:empty) {
    padding-left: 48px;
}
.switch input:checked + div:before {
    --s: 1;
}
.switch input:checked + div:after {
    --s: 0;
}
.switch input:checked + div span:before {
	--x: 24px;
	--s: 8px;
	--b: var(--dot);
}
