@font-face {
  font-family: openSans;
  src: url(OpenSans-Regular.ttf);
}

body {
	background-color: black;
}

p {
	font-family: openSans;
	text-align: center;
	color: white;
}

#canvasContainer {
	position:absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: auto;
	height: 75%;
	width: 75%;
}

#frog {
	position: fixed;
	top: 0%;
	left: 0%;
}
.frog {
	animation: rotate 1s linear infinite, move 3s linear infinite;
}
@keyframes rotate
{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes move {
	0% {
		top: 0vh;
		left: 0vw;
	}
	100% {
		top: 100vh;
		left: 100vw;
	}
}
