body {
	background-color: black;
}
p {
	color: white;
}
#frog {
	position: fixed;
	top: 0%;
	left: 0%;
}
.frog {
	animation: rotate 1s linear infinite, move 3s linear infinite;
}
@keyframes rotate
{
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
@keyframes move {
	0% {
		top: 0vh;
		left: 0vw;
	}
	
	100% {
		top: 100vh;
		left: 100vw;
	}
}
