<div id="about-container" class="flex-container">
    <div class="card about-blurb">
        <p>
            hi! i'm jacob, an electrical engineer finishing up my senior year at olin college. i'm passionate about hardware design, assistive tech, and making things that work well and look cool.<br><br>when i'm not making electronics, you can find me picking my mandolin, petting animals, listening to music, or playing games like stardew valley and the binding of isaac.
        </p>
    </div>
    <div class="card about-lists">
        <h3>i like</h3>
        <ul>
            <li>listening to music</li>
            <li>animals</li>
            <li>cool earrings</li>
            <li>good-looking pcbs</li>
        </ul>
        <h3>i'm learning</h3>
        <ul>
            <li>classical mandolin</li>
            <li>curved origami</li>
            <li>woodworking</li>
        </ul>
    </div>
</div>