/* Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* envoyer-regular - latin */
@font-face {
    font-family: 'Envoyer';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
        url('../fonts/envoyer-regular.ttf') format('truetype'),
}

:root {
    --red-bg: #9E2A2B;
    --maroon-accent: #540B0E;
    --ivory-text: #FFF3B0;
    --orange-alt: #E09F3E;
    --link-orange: #FFBF66;
    /* --dark-gray: #655C53;
    --main-white: #EAE0CC; */
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 16px;
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: var(--red-bg);
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: var(--ivory-text);
}

.title-card {
    font-family: 'Envoyer', sans-serif;
    font-size: max(6vh, 1.5rem);
}

h1 {
    text-align: center;
    font-family: 'Envoyer', sans-serif;
    font-size: 1.5rem;
    margin: 0 0 .5rem 0;
}

h2 {
    font-size: 1.25rem;
    margin: 0;
}

h3 {
    margin: 1rem 0 0 0;
}

@media screen and (min-width: 400px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

.subtitle {
    text-align: center;
    padding-top: .5rem;
    border-top: 3px solid var(--maroon-accent);
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.card {
    display: flex;
    flex-direction: column;
    height: fit-content;
    border: 3px solid var(--maroon-accent);
    border-radius: 10px;
    padding: 2vh 5vw;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 3vh auto;
    box-shadow: 6px 6px var(--maroon-accent);
}

.article {
    width: 90%;
    max-width: 1080px;
}

a {
    color: var(--link-orange);
}

.section-border {
    margin: 5vh auto;
    width: 90vw;
    border-top: 3px solid var(--maroon-accent);
}

#name-card {
    font-family: 'Envoyer', sans-serif;
    -webkit-text-stroke: min(0.3vw, 0.5vh) var(--ivory-text);
    text-align: center;
    justify-self: center;
    font-size: min(7vw, 15vh);
    max-height: 20vh;
    max-width: 60vw;
}

#intro-card {
    max-height: 80vh;
    width: 70vw;
    text-align: left;
    font-size: min(5vw, 4.25vh);
}

.intro-bold {
    font-weight: 600;
}

header {
    position: sticky;
    top: 0;
    background-color: #9E2A2B;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top: 7px double var(--maroon-accent);
    border-bottom: 7px double var(--maroon-accent);
    color: var(--ivory-text);
    font-family: 'Envoyer', sans-serif;

    display: flex;
    flex-direction: row;
    z-index: 10;
}

#nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-spacer {
    flex: 1;
    margin-left: auto;
}

.nav-item {
    margin: 5px auto;
    border-left: 3px solid var(--maroon-accent);
    float: left;
}

.nav-item:first-child {
    margin-left: 10px;
}

.nav-item:last-child {
    border-right: 3px solid var(--maroon-accent);
    margin-right: 10px;
}

.nav-link {
    color: var(--ivory-text);
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    padding: 5px 5px;
    text-decoration: none;
}

.nav-logo {
    -webkit-text-stroke: 1px var(--ivory-text);
}


@media screen and (min-width: 400px) {
    .nav-link {
        padding: 5px 10px;
    }
}

@media screen and (min-width: 500px) {
    .nav-link {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 600px) {
    .nav-link {
        font-size: 1.5rem;
    }
}

.project-card {
    text-align: center;
    flex: 0 1 auto;
    margin: 1rem 1rem;
    min-width: 90vw;
    width: fit-content;
    height: fit-content;
    padding: 1rem 1rem;
    transition: .1s;
}

.project-card:hover {
    transform: translate(-2px, -2px);
    box-shadow: 8px 8px var(--maroon-accent);
}

@media screen and (min-width: 530px) {
    .project-card {
        margin: 1.25rem;
    }
}

@media screen and (min-width: 700px) {
    .project-card {
        min-width: 40vw;
    }
}

@media screen and (min-width: 1000px) {
    .project-card {
        min-width: 250px;
        max-width: 500px;
    }
}

.project-button {
    color: var(--link-orange);
    background-color: var(--red-bg);
    border: 3px solid var(--maroon-accent);
    border-radius: 3px;
    padding: 5px 5px 8px 5px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    box-shadow: 5px 5px var(--maroon-accent);
    transition: .1s;
}

.project-button:hover,
.project-button:focus {
    transform: translate(1.5px, 1.5px);
    box-shadow: 3.5px 3.5px var(--maroon-accent);
}

.project-button:active {
    transform: translate(3px, 3px);
    box-shadow: 2px 2px var(--maroon-accent);
}

.project-img {
    object-fit: scale-down;
    max-width: 100%;
    border-radius: 5%;
    box-shadow: 3px 3px var(--maroon-accent);
    border: 4px solid var(--maroon-accent);
    margin: 0 0 0.5rem 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-title {
    font-weight: 500;
    max-width: 40vw;
    margin: 0;
}

.project-info {
    margin: 0.5rem 0 1rem 0;
}

#about-container {
    padding: 10px;
    justify-content: center;
}

.about-blurb {
    height: fit-content;
    font-size: 3vh;
    max-width: 800px;
    margin: 10px;
}

.about-lists {
    width: fit-content;
    height: fit-content;
    font-size: 3vh;
    text-align: center;
    margin: 20px;
    padding-top: 0;
}

@media screen and (min-width: 1050px) {
    .about-lists {
        margin: auto 25px;
    }
}

.about-lists h3 {
    padding: 0;
    margin: 10px 0 0 0;
}

.about-lists ul {
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
    margin: 0;
}

footer {
    text-align: center;
    margin-bottom: 2vh;
}