{{ define "intro" }}
<section id="home">
    <h1 id="name-card" class="card">
        {{ lower .Site.Title }}
    </h1>
    
    <div id="intro-card" class="card">
        <p class="intro">
            <span class="intro-bold">hi! i'm jacob, an electrical engineering student who likes to make and break things. </span><span class="intro-regular">you can take a look at some of my <a href="#projects">projects</a> on this website.<br><br>for inquiries, feel free to <a href="mailto:jacob@smilg.dev">send me an email</a>; i'd love to hear from you.<br><br>not enough info? you can get to know more <a href="#about">about me</a> here.</span>
        </p>
    </div>
</section>
{{ end }}
