.wrapper { overscroll-behavior: none }

body {
	background-color: black;
	font-size: 16px;
	color: white;
}

h1 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

p {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

#heading {
	z-index: 1;
}

#seed {
	z-index: 1;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

#canvasContainer {
	position:absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: auto;
	height: 75%;
	width: 75%;
	z-index: -1;
}

#frog {
	width: 10%;
	position: fixed;
	top: 0%;
	left: 0%;
}
.frog {
	animation: rotate 1s linear infinite, move 3s linear infinite;
}
@keyframes rotate
{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes move {
	0% {
		top: 0vh;
		left: 0vw;
	}
	100% {
		top: 100vh;
		left: 100vw;
	}
}
